<a href="https://colab.research.google.com/github/vishwajeetsuhaspatil/Asympotic/blob/main/DSCM11L4A2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Import Dataset
from google.colab import files
uploaded = files.upload()

Saving database (2).sqlite to database (2).sqlite

In [2]:
# Connect with sqlite database
# Import necessary libraries
import pandas as pd
import numpy as np

import sqlite3

database = 'database (2).sqlite'

conn = sqlite3.connect(database)
print('Opened data successfully')

Opened data successfully

In [3]:
# Display all the tables of the database
df = pd.read_sql("""SELECT *
                    FROM sqlite_master
                    WHERE type='table';""", conn)
df

,type,name,tbl_name,rootpage,sql
0,table,Player,Player,2,CREATE TABLE [Player] (\n\t[Player_Id]\tintege...
1,table,Extra_Runs,Extra_Runs,3,CREATE TABLE [Extra_Runs] (\n\t[Match_Id]\tint...
2,table,Batsman_Scored,Batsman_Scored,7,CREATE TABLE [Batsman_Scored] (\n\t[Match_Id]\...
3,table,Batting_Style,Batting_Style,10,CREATE TABLE [Batting_Style] (\n\t[Batting_Id]...
4,table,Bowling_Style,Bowling_Style,11,CREATE TABLE [Bowling_Style] (\n\t[Bowling_Id]...
5,table,Country,Country,12,CREATE TABLE [Country] (\n\t[Country_Id]\tinte...
6,table,Season,Season,14,CREATE TABLE [Season] (\n\t[Season_Id]\tintege...
7,table,City,City,15,CREATE TABLE [City] (\n\t[City_Id]\tinteger NO...
8,table,Outcome,Outcome,16,CREATE TABLE [Outcome] (\n\t[Outcome_Id]\tinte...
9,table,Win_By,Win_By,17,CREATE TABLE [Win_By] (\n\t[Win_Id]\tinteger N...
10,table,Wicket_Taken,Wicket_Taken,18,CREATE TABLE [Wicket_Taken] (\n\t[Match_Id]\ti...
11,table,Venue,Venue,21,CREATE TABLE [Venue] (\n\t[Venue_Id]\tinteger ...
12,table,Extra_Type,Extra_Type,23,CREATE TABLE [Extra_Type] (\n\t[Extra_Id]\tint...
13,table,Out_Type,Out_Type,24,CREATE TABLE [Out_Type] (\n\t[Out_Id]\tinteger...
14,table,Toss_Decision,Toss_Decision,25,CREATE TABLE [Toss_Decision] (\n\t[Toss_Id]\ti...
15,table,Umpire,Umpire,26,CREATE TABLE [Umpire] (\n\t[Umpire_Id]\tintege...
16,table,Team,Team,27,CREATE TABLE [Team] (\n\t[Team_Id]\tinteger NO...
17,table,Ball_by_Ball,Ball_by_Ball,28,CREATE TABLE [Ball_by_Ball] (\n\t[Match_Id]\ti...
18,table,sysdiagrams,sysdiagrams,31,CREATE TABLE [sysdiagrams] (\n\t[name]\tnvarch...
19,table,sqlite_sequence,sqlite_sequence,32,"CREATE TABLE sqlite_sequence(name,seq)"
20,table,Match,Match,34,CREATE TABLE [Match] (\n\t[Match_Id]\tinteger ...
21,table,Rolee,Rolee,36,CREATE TABLE [Rolee] (\n\t[Role_Id]\tinteger N...
22,table,Player_Match,Player_Match,37,CREATE TABLE [Player_Match] (\n\t[Match_Id]\ti...

In [ ]:
# Display the first five rows of the Player_Match table
player_match = pd.read_sql("""SELECT *
                        FROM Player_Match""", conn)

player_match.head()

   Match_Id  Player_Id  Role_Id  Team_Id
0    335987          1        1        1
1    335987          2        3        1
2    335987          3        3        1
3    335987          4        3        1
4    335987          5        3        1

In [ ]:
# Check the presence of null values in the Player_Match table
null_player_match = pd.read_sql("""SELECT *
                        FROM Player_Match
                        WHERE Team_Id IS NULL""", conn)

null_player_match

Empty DataFrame
Columns: [Match_Id, Player_Id, Role_Id, Team_Id]
Index: []

In [ ]:
# Display the first five rows of the Match table
toss_dec = pd.read_sql("""SELECT *
                        FROM Match""", conn)

toss_dec.head()

   Match_Id  Team_1  Team_2  ... Outcome_type  Match_Winner  Man_of_the_Match
0    335987       2       1  ...            1           1.0               2.0
1    335988       4       3  ...            1           3.0              19.0
2    335989       6       5  ...            1           6.0              90.0
3    335990       7       2  ...            1           2.0              11.0
4    335991       1       8  ...            1           1.0               4.0

[5 rows x 13 columns]

In [ ]:
# Check the presence of null values in the Match table
null_match = pd.read_sql("""SELECT *
                        FROM Match
                        WHERE MATCH_Winner IS NULL""", conn)

null_match

   Match_Id  Team_1  Team_2  ... Outcome_type  Match_Winner  Man_of_the_Match
0    501270       6      10  ...            2          None              None
1    829768       2       5  ...            2          None              None
2    829818       2       6  ...            2          None              None

[3 rows x 13 columns]